body {
    height: 100%;
}
// - change pixels to rem

.App {
    display: flex;
    height: 100vh; //remove this line later

    .SideNav {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        background-color: var(--indigo-900);
        min-width: 72px;
        padding: 16px;
    }

    .Main {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .TopBar {
        display: flex;
        min-width: 100%;
        background-color: var(--gray-000);
        border-bottom: 1px solid var(--gray-050);
        padding-block: 20px;
        padding-inline: 22px;

        &__Title {
            display: flex;
        }

        &__Menu {
            display: flex;
        }
    }
}
