:root {
    --indigo-900: #151357;
    --indigo-800: #151357;
    --indigo-700: #151357;
    --indigo-600: #151357;
    --indigo-500: #151357;
    --indigo-400: #151357;
    --indigo-300: #151357;
    --indigo-200: #151357;
    --indigo-100: #151357;
    --indigo-050: #151357;
    --indigo-000: #151357;
    --gray-900: #151357;
    --gray-800: #151357;
    --gray-700: #151357;
    --gray-600: #151357;
    --gray-500: #151357;
    --gray-400: #151357;
    --gray-300: #151357;
    --gray-200: #151357;
    --gray-100: #151357;
    --gray-050: #E9EDF5;
    --gray-000: #F7F9FC;
}